<header>
    <h3>Angular TMDB with Yoda description translations.</h3>
</header>
<div class="container-fluid">
    <form class="navbar-brand mx-auto" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
            <input class="form-control" type="text" formControlName="search" placeholder="Search">
            <button class="btn btn-outline-primary" id=submit>Submit</button>
        </div>
    </form>
</div>

<div class="table">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-md-2" scope="col">Title</th>
                <th class="col-md-2"scope="col">Release Date</th>
                <th class="col-md-8"scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of result;">
                <td class="col-md-2">{{item.title}}</td>
                <td class="col-md-2">{{item.release_date}}</td>
                <td class="col-md-8">{{translatedDescription}}</td>
            </tr>
        </tbody>
    </table>
</div>